/* 
External Style Sheet
Name: John Burch
Date: November 29, 2025
Class: CIS-130 W01
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* General Styling */

* {
    /* Reset default margins/padding to 0 */
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #BBD5ED, #e3d081);
    font-family: "IBM Plex Sans", sans-serif;
    height: 100vh;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
}

h2 {
    text-align: center;
}

/* Header/Navigation/Footer */

.header-container {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 24px auto;
    max-width: 80%;
    border-radius: 1rem;
    overflow: hidden;
}

nav {
    padding: 1em 0;
}

.navbar {
    list-style-type: none;
}

nav li {
    margin: 10px;
}

nav a {
    padding: 8px;
    font-size: 1.2em;
}

nav a,
footer a {
    text-decoration: none;
    color: black;
}

.contact-info li {
    padding: 4px;
}

.contact-info a {
    color: black;
}

/* Classes and IDs */

#profile-img {
    display: block;
    margin: 0 auto;
    height: 180px;
    width: auto;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 8px;
}

.tagline {
    font-style: italic;
    padding-bottom: 0.8em;
}

/* Media Query for Tablets */

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    nav {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}