/* 
External Style Sheet
Name: John Burch
Date: November 29, 2025
Class: CIS-130 W01
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* General Styling */

* {
    /* Reset default margins/padding to 0 */
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(180deg, #BBD5ED, #e3d081);
    font-family: "IBM Plex Sans", sans-serif;
    min-height: 100vh;
    text-align: center;
    display: grid;
    gap: 1rem;
    grid-template-areas:
        'header-nav'
        'summary'
        'skills'
        'projects'
        'footer';
}

main {
    display: contents;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
}

h2 {
    display: inline-block;
    margin-bottom: 0.25em;
    border-bottom: 1px solid black;
}

section {
    margin: 0 auto;
}

section p {
    margin: 0 1.5rem;
    max-width: 425px;
    line-height: 1.5em;
}

/* Header/Navigation/Footer */

.header-container {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 1rem auto;
    width: 90%;
    max-width: 425px;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    grid-area: header-nav;
}

nav {
    padding: 1em 0;
}

.navbar {
    grid-area: navbar;
    list-style-type: none;
    display: grid;
    gap: 0.5em;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

nav a {
    padding: 8px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

nav i {
    font-size: 14px;
}

footer {
    text-align: center;
    grid-area: footer;
}

/* Classes and IDs */

#profile-img {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 8px;
}

.summary-section {
    grid-area: summary;
}

.skills-section {
    grid-area: skills;
}

.projects-section {
    grid-area: projects;
}

.projects-showcase-img {
    max-width: 100%;
    width: 80%;
    height: auto;
    border-radius: 1em;
}

.tagline {
    font-style: italic;
    padding-bottom: 0.8em;
}

/* Media Query for Tablets */

@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 90px;
        grid-template-areas:
        'header-nav summary'
        'skills projects'
        'footer footer';
    }

    .header-container {
        align-self: center;
        max-width: none;
    }

    .summary-section {
        align-self: center;
    }
}

/* Media Query for Laptops */

@media (min-width: 1024px) {

    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 1fr 1fr 90px;
        grid-template-areas:
            'header-nav header-nav'
            'summary skills'
            'projects projects'
            'footer footer';
    }

    .header-container {
        margin: 2em auto;
    }

    .navbar {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

}