/*
    Author: John Burch
    Date: October 26, 2025
    Music Artist Website
    External Style Sheet
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #F7B462;
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
}

nav {
    background-color: black;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0.5rem 0;
    list-style-type: none;
    color: white;
    font-size: 1.2em;
}

nav li {
    padding: 0.5rem;
    text-decoration: underline;
}

nav a {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.25rem 1.75rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
}

.logo {
    display: none;
}

#hero {
    background-image: url(images/john-burch-piano.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgba(204, 195, 189, 0.8);
    padding: 1rem;
    border-radius: 0.8rem;
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.25em;
    flex-basis: 100%;
}

#music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    /* border-bottom: 1rem solid black; */
}

.music-card {
    background-color: rgb(204, 195, 189);
    min-height: 65vh;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex: 1 1 320px;
    overflow: hidden;
    border-bottom: 0.25rem solid black;
}

.album-cover {
    position: relative;
    width: 100%;
}

.album-cover img {
    width: 100%;
    height: auto;
    display: block;
}

.music-card-text {
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0;
}

.album-cover a {
    background-color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: darkgreen;
    margin: 0.1em;
    padding: 0.2em;
    border-radius: 0.3em;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 1em;
    font-weight: 500;
}

.fa-brands {
    font-size: 1.25em;
}

#video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-bottom: 5px solid black;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    margin: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

footer p {
    text-align: center;
    margin: 0.5rem 0.25rem;
    flex: 1 0 auto;
}

footer a {
    color: unset;
}

@media (min-width: 768px) {

    nav {
        padding: 0.5rem;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav a {
        padding: 0.25em 1em;
    }

    .logo {
        display: initial;
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        width: 170px;
        height: auto;
    }
}